doctype
html
	head
		title Payment-Hub iDeal Braintree Integration
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		header
			h1 This Page is only dedicated for testing the Payment-Hub iDeal Braintree integration

		.container
			h1 The status of the payment was #{status}
			h2 Alternative Payment ID is #{id}